<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="TractionOnDemand technical interview demo"/>
        <meta name="author" content="Jonny Power"/>

        <title>Traction Demo - Jonny Power</title>

        <link href="https://fonts.googleapis.com/css?family=Cabin:500,500italic,600,600italic,700,700italic,italic,regular|Cabin Condensed:500,600,700,regular|Droid Sans:700,regular|Droid Sans Mono:regular|Lato:100,100italic,300,300italic,700,700italic,900,900italic,italic,italic,regular|Roboto Condensed:700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/tractiondemo.css" rel="stylesheet"/>
    </head>

    <body>
        <section id="content">

            <div class="container">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="join-title" th:switch="${success}">
                                <span th:case="true" class="join-title-span" >Thank you for your generous donation.</span>
                                <span th:case="false" class="join-title-span" >There was an issue with your donation, please <a href="/">try again.</a> </span>
                            </h1>

                            <div class="join-now-header" th:if="${donationId} != null" th:inline="text">
                                <h2>
                                    Created donation on salesforce with id [[${donationId}]]
                                </h2>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
